
.btn-admin-no-outline {   border: 1px solid #5f2eea;   box-sizing: border-box;   border-radius: 4px;   color: #5f2eea; }  
.btn-admin-no-outline:hover {   color: #ffff;   background-color: #5f2eea; }